.about {
    padding: 2rem;
}

.flexContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.flexContainer img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    background-color: #d3d3d3;
    border-radius: 50%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.textContainer {
    width: 100%;
}

.textContainer h2 {
    margin-bottom: 0.6rem;
    color: #222;
}

.textContainer p {
    margin-bottom: 0.6rem;
    color: #7a7a7a;
}

.skills {
    width: 100%;
    margin-top: 2rem;
}

.skills fieldset {
    width: 100%;
    padding: 2rem;
    color: #7a7a7a;
    border-radius: 0.2rem;
}

.skills legend {
    color: #222;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 1rem;
}

.skillsList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.skill img {
    width: 60px;
}

.skill span {
    font-size: 0.8rem;
    font-weight: bold;
}
