.contact {
    padding: 5% 2rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
    background-color: #fff;
    padding: 4rem 3rem;
    border-radius: 0 0.6rem 0.6rem 0;
    border-left: 0.4rem solid #7a7a7a;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    color: #7a7a7a;
}

.textContainer h2 {
    font-size: 2rem;
    margin-bottom: 0.6rem;
}

.emailContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
    border: 1.6px solid #7a7a7a;
    border-radius: 0.2rem;
}

.emailContainer button {
    padding: 1rem 2rem;
    background-color: transparent;
    color: #7a7a7a;
    border: none;
    border-right: 1.6px solid #7a7a7a;
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.5s;
}

.emailContainer button:hover {
    color: #333;
}

.emailContainer span {
    font-size: 1.4rem;
    font-weight: bold;
}

@media (max-width: 992px) {
    .container {
        padding: 3rem 2rem;
    }

    .textContainer h2 {
        font-size: 1.6rem;
    }

    .emailContainer span {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding: 2em;
    }

    .textContainer h2 {
        font-size: 1.4rem;
    }

    .emailContainer {
        width: 100%;
        border: 1px solid #7a7a7a;
    }

    .emailContainer span {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 1.6rem;
    }
}
